sub{
    cursor: pointer;
    font-family: "Computer Modern Sans", sans-serif;
}

subbutton{
    font-size: 8px;
    font-family: "Computer Modern Sans", sans-serif;
}

parameter{
    font-size: 4pt;
    font-style: italic;
    opacity: 0.5;
    font-family: "Computer Modern Sans", sans-serif;
}

paramlabel{
      font-size: 8pt;
      font-family: "Computer Modern Sans", sans-serif;
}

body{
      font-family: "Computer Modern Sans", sans-serif;
      background-image: url("/static/bg2.jpg");
      background-size: cover;
      background-repeat: no-repeat;
}
  
input[type=submit]{
    width: 25%;
    padding: 12px, 20px;
    margin: 6px 0;
    background-color: #FFFFFF;
    border: 1px solid #000000;
    border-radius: 4px;
    cursor: pointer;
}
  
input[type = submit]:hover{
    background-color: #DCDCDC;
}
  
table.center{
    margin-left:auto;
    margin-right: auto;
}

#containment-wrapper { 
    height:350px; 
    border:2px solid rgb(0, 0, 0); 
    padding: 10px; 
    background-color: rgb(191, 238, 245);
}

.draggable{
    border:2px solid rgb(0,0,0);
    border-radius: 50%;
    text-align: center;
    position: absolute;
    cursor:pointer;
    height: 45px;
    width: 45px;
    font-size: 15px;
    line-height: 45px;
}

.noselect {
    -webkit-touch-callout: none; /* iOS Safari */
      -webkit-user-select: none; /* Safari */
       -khtml-user-select: none; /* Konqueror HTML */
         -moz-user-select: none; /* Firefox */
          -ms-user-select: none; /* Internet Explorer/Edge */
              user-select: none; /* Non-prefixed version, currently
                                    supported by Chrome and Opera */
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}

.overlay {
    height: 100%;
    width: 100%;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0, 0.9);
    overflow-x: hidden;
    display: none;
    -ms-overflow-style: none;
    scrollbar-width: none;
}

.overlay::-webkit-scrollbar{
    display:none;
}

.overlay-content {
    position: relative;
    top: 10;
    width: 100%;
    text-align: center;
    margin-top: 30px;
    color: rgb(255,255,255);
    font-size: 15px
}

.overlay .closebtn {
    position: absolute;
    top: 20px;
    right: 45px;
    font-size: 30px;
    color: rgb(255,255,255);
    z-index: 1;
  }

.closebtn:hover{
    color: red;
}

.topright {
    position: absolute;
    right: 0;
    top: 0;
    font-size: 20px;
    cursor:pointer;
}

.som_gallery{
    position: absolute;
    left: 50px;
    padding: 10% 0;
    width: 100%;
}

.prev,
.next{
    cursor: pointer;
    position: absolute;
    top: 45%;
    width: auto;
    padding: 8px;
    margin-top: -30px;
    color: black;
    font-weight: bold;
    font-size: 20px;
    user-select: none;
    -webkit-user-select: none;
    display: none;
}

.next {
    left: 91%;
    border-radius: 3px 0 0 3px;
}

.pnums{
    position: absolute;
    top: 14%;
    left: 90%;
    color:black;
    font-size: 16px;
    user-select: none;
    -webkit-user-select: none;
}

.sompic{
    border:none;
    width: 94%;
}