<!DOCTYPE html>
<html lang="en">

<head>
    <title>SOM Web Application</title>
    <link rel = "icon" href = "https://www.flaticon.com/svg/static/icons/svg/3576/3576396.svg" type = "image/x-icon">
    <link rel="stylesheet" href="{{ url_for('static', filename='index.css') }}">
    <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
    <script src="//code.jquery.com/jquery-1.8.3.min.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
    <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
    <script src="{{ url_for('static', filename='builder.js') }}"></script>
    <script src="{{ url_for('static', filename='graphing.js') }}"></script>

    <!-- Scripts to run on document start up -->
    <script>
      $(document).ready(function() {
        init_input_output();
        bind_add_button();
        overwrite_submit_som();
      });
    </script>

    <!-- Function to load the help information -->
    <script>
      $(function(){
        $("#loadhelp").load("{{ url_for('static', filename='help.html') }}"); 
      });
    </script>
</head>

<body>

<div style="width: 100%; overflow: hidden;">
  <div style="width: 40%; float: left;">
    <div style="width: 100%; overflow: hidden; display: table">
      <div style="display:table-row">

        <!-- Built SOM display
        <div style="display:table-cell; width:25%">
          <table id="SOMS">
            <tr>
              <th>Built SOMS</th>
            </tr>
          </table>
        </div> -->
      
        <!-- Input form -->
        <div style="display:table-cell" id="som_form">
          <form method=post action="/" enctype="multipart/form-data" id="som_wtform">
            <div style="width: 100%">
              <div style="width: 40%; float: left;">
                <table>
                    <tr>
                      <td>{{ form.user_file.label }}</td>
                      <td>{{ form.user_file }}</td>
                    </tr>
                    <tr>
                      <td>{{ form.iters.label }}</td>
                      <td>{{ form.iters }}</td>
                    </tr>
                    <tr>
                      <td>{{ form.som_shape.label }}</td>
                      <td> 
                        {% for subfield in form.som_shape %} 
                          {{ subfield }} {{ subfield.label }}
                        {% endfor %}
                      </td>
                    </tr>
                    <tr>
                      <td>{{ form.test_split.label }}</td>
                      <td>{{ form.test_split }}</td>
                    </tr>
                </table>
              </div>
              <div style="margin-left: 50%; position: relative;">
                <table>
                  <tr>
                    <td>{{ form.LVQ.label }}</td>
                    <td>{{ form.LVQ }}</td>
                  </tr>
                  <tr>
                    <td>{{ form.SVM.label }}</td>
                    <td>{{ form.SVM }}</td>
                  </tr>
                  <tr>
                    <td>{{ form.DT.label }}</td>
                    <td>{{ form.DT }}</td>
                  </tr>
                  <tr>
                    <td>{{ form.RF.label }}</td>
                    <td>{{ form.RF }}</td>
                  </tr>
                  <tr>
                    <td>{{ form.NN6.label }}</td>
                    <td>{{ form.NN6 }}</td>
                  </tr>
                  <tr>
                    <td>{{ form.NB.label }}</td>
                    <td>{{ form.NB }}</td>
                  </tr>
                </table>
              </div>
            </div>
            <input type=submit value="Build SOM" id="sub_som"> 
          </form>
        </div>
      </div>
    </div>
    
    <!-- SOM layer drawing container -->
    <div id="containment-wrapper" class="noselect" style="width: 100%; position: relative; background-color: #e8eff1">
      <svg id="line-container" style="width: 100%; height: 100%">
        
        <defs>
          <marker id="red-arrowhead" viewBox="0 0 10 10" refX="7" refY="5" markerUnits="strokeWidth" markerWidth="8" markerHeight="6" orient="auto">
            <path d="M 0 0 L 10 5 L 0 10 z" stroke="none" fill="blue" />
          </marker>
        </defs>

      </svg>
      <span id="add-button" class="topright" style="position: absolute;">&#10133;</span>
    </div>
  </div>
  
  <!-- Image album -->
  <div style="margin-left: 40%; position: relative;">
    <div class = "som_gallery", id = "somgallery">

      <!-- Previous and Next buttons -->
      <a class = "prev" onclick="moveSlide(-1)">&#10094;</a>
      <a class = "next" onclick="moveSlide(1)">&#10095;</a>

      <!-- Display page numbers using generated pnums class-->
      <!-- Display images using generated iframes-->
      <!-- update with functions-->
    
    </div>
  </div>
</div>

<!-- Help pop up box -->
<div id="info_popup" class="overlay">
  <a href="javascript:void(0)" class="closebtn" onclick="close_overlay()">&times;</a>
  <div class="overlay-content" id="loadhelp"></div>
</div>
<span class="topright" style="display: block; height: 75px; width: 100px; top: 20px;" onclick="open_overlay()">&#9432; Help</span>

</body>
</html>